<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Wiki-Visibility</title>
	<link rel="shortcut icon" href="./static/favicon.ico">
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable = no" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather:400,400italic,700,700italic&subset=latin" rel="stylesheet" type="text/css">
	<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Lato:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./static/style.css" />
	<style>
      .above-threshold {color: black;}
      .below-threshold {color: silver;}
      /*p { text-indent: 30px; }*/
    </style>

</head>

<body>
	<script type="text/javascript">
		var body = document.body;
		body.classList.add('js');
	</script>

	<div id="origin_bar">
		<div class="boxwidth--1-1 padded--left padded--right">
			<a href="https://research.wikimedia.org/" class="origin_title"><img src="./static/Wikimedia-Foundation-logo.svg" alt="Wikimedia Foundation logo" />Wikimedia Research</a>
		</div>
	</div>

	<article id="tool_holder">
		<!-- Header / Start -->
		<div id="tool_header--holder" class="boxwidth--1-1 padded--left padded--right">
			<header id="tool_header">
				<!-- Tool name -->
				<h1>Increasing the visibility of orphan articles</h1>
				<div class="meta">
					<div class="disclaimer note">
						No guarantees are made that this tool will be maintained.
						This is an experimental tool hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a>.
						No additional personal data is collected by this tool per the Cloud Services
							<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use" target="_blank" rel="noopener">Terms of Use</a>.
					</div>
					<div class="description padded--right">
						<p>	There are millions of <a href="https://en.wikipedia.org/wiki/Wikipedia:Orphan">orphan articles</a> in Wikipedia. These are articles without any incoming links. Thus, orphan articles are de-facto invisible for readers when navigating Wikipedia. For more details, see the paper <a href="https://arxiv.org/abs/2306.03940">Orphan Articles: The Dark Matter of Wikipedia</a> </p>
						<p>	This tool aims to increase the visibility of articles. It generates recommendations of articles from where to link to them. We identify recommendations by looking up the corresponding article in other Wikipedia languages. Surprisingly, in many cases there are already existing links which can be simply "translated". The advantage is that these recommendations can be considered high quality and are easily interpretable because they have already been vetted by other language communities. You can learn more about the model <a href="https://meta.wikimedia.org/wiki/Research:Recommending_links_to_increase_visibility_of_articles/Link-translation">here</a>.
						</p>
				  		<p> You can test out the tool below with your own article. The tool is most useful for orphan articles because they do not have any incoming links from other articles yet. See, for example, the <a href="https://en.wikipedia.org/wiki/Category:All_orphaned_articles">list of orphan articles in English Wikipedia</a> (there are similar lists in other languages). However, you can use the tool with any other article as well. The result is a list of potential source articles from where to link to the orphan article. The suggested link already exists in at least one other Wikipedia. Note that the tool does not return any results in cases when there are no existing links in other language versions to that article.</p>

						<!-- </p> -->
						<!-- <p>	  </p> -->
					</div>
				</div>
			</header>
		</div>

		<div class="separator"></div>

		<section id="inlinks" class="boxwidth--1-1 padded--left padded--right">
					<main id="tool_main">
						<section class="form">
							<form action="#results">
								<div class="cols cols3">
									<div class="col col1">
										{% if lang %}
										<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
											<input type="text" value="{{lang}}" placeholder="Placeholder text" id="lang"/>
										</label>
										{% else %}
										<label class="placeholder"><span class="field_name">Language code -- e.g., en for English</span>
											<input type="text" value="" placeholder="Placeholder text" id="lang"/>
										</label>
										{% endif %}
									</div>
									<div class="col col1">
										{% if title %}
										<label class="placeholder"><span class="field_name">Article title -- e.g., Pokotia Monolith</span>
											<input type="text" value="{{title}}" placeholder="Placeholder text" id="page_title"/>
										</label>
										{% else %}
										<label class="placeholder"><span class="field_name">Article title -- e.g., Pokotia Monolith</span>
											<input type="text" value="" placeholder="Placeholder text" id="page_title"/>
										</label>
										{% endif %}
									</div>
									<div class="col col1">
										<span class="field_name"></span>
										<input type="submit" value="Submit" id="btnSubmit" />
									</div>
								</div>
							</form>
						</section>
						<section id="results">
							<div class="cols cols3">
								<div class="col col3">
									<section class="text" id="inlinks-results">
										<!-- Empty section to hold results -->
									</section>
								</div>
							</div>
		            	</section>
					</main>
				</section>
			</article>

	<footer id="tool_footer">
		<div id="tool_footer-in" class="boxwidth--1-1 padded--left padded--right">
			<p>Experimental tool developed by <span class="tool-author"><a href="https://meta.wikipedia.org/wiki/User:MGerlach_(WMF)">MGerlach (WMF)</a> as part of <a href="https://research.wikimedia.org/">Wikimedia Research</a></span>.</p>
			<ul>
				<li><a href="https://github.com/martingerlach/link-rec-api">View Source</a></li>
				<li><a href="https://meta.wikimedia.org/wiki/Research:Recommending_links_to_increase_visibility_of_articles">Meta</a></li>
				<li><a href="https://github.com/martingerlach/link-rec-api/blob/main/LICENSE">License</a></li>
			</ul>
		</div>
	</footer>



		<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('form label.placeholder').each(function() {
					if (!$('input, textarea, select', this).val()) {
		 				$(this).addClass('off');
					}
					$(this).on('focusin', function() {
						$(this).removeClass('off');
					});
					$(this).on('focusout', function() {
						if (!$('input, textarea, select', this).val()) {
							$(this).addClass('off');
						}
					});
					$('*[placeholder]', this).attr('placeholder', '');
				});
			});
		</script>

	<script type="text/javascript">
		$('#btnSubmit').click(function (e) {
		   e.preventDefault(); queryInlinksAPI();
		});
		window.onload = function() {
			if (document.getElementById('lang').value) {
				queryInlinksAPI();
			}
		}


		var render_results = function(data) {
			$("#inlinks-results").empty();
			// $("#inlinks-results").append('<br><p> Found potential source articles to link to: <a href="'+data["articles"]+'">'+ data["page_title"] +'</a></p>');
			if ("Error" in data) {
				$("#inlinks-results").append("<br><p>Error: " + data["Error"] + "</p>");
			}
			else {
				$("#inlinks-results").append('<br><h3>'+ data["lang"]+': ??? --> <a href="' + data["article"] + '">' +data["page_title"] + '</a></h3>');
				$("#inlinks-results").append('This article is currently linked from <a href="https://'+data["lang"]+'.wikipedia.org/wiki/Special:WhatLinksHere/'+data["page_title"]+'">'+data["n_inlinks"] + ' articles</a>. If you want to increase this number and increase the visibility of this article, here are some suggestions where you could potentially add a link to this article. All suggestions are based on already existing links in other language versions of Wikipedia -- you can check out those articles to see where the corresponding link appears.');
				$("#inlinks-results").append('<p> </p>');

				if (data["results"].length > 0) {
					for (var rec in data["results"]) {
						$("#inlinks-results").append('<h4><a href="https://'+data["lang"]+'.wikipedia.org/wiki/'+data["results"][rec]["source"]+'">'+data["results"][rec]["source"] + '</a> </h4>');
						$("#inlinks-results").append('Existing links in '+data["results"][rec]["n_links"]+' other wikis:');

						for (var link in data["results"][rec]["links"]) {
							$("#inlinks-results").append('<li>'+data["results"][rec]["links"][link]["lang_translate"]+': <a href="https://'+data["results"][rec]["links"][link]["lang_translate"]+'.wikipedia.org/wiki/'+data["results"][rec]["links"][link]["link_translate"][0]+'">' + data["results"][rec]["links"][link]["link_translate"][0] + '</a> --> <a href="https://'+data["results"][rec]["links"][link]["lang_translate"]+'.wikipedia.org/wiki/'+data["results"][rec]["links"][link]["link_translate"][1]+'">' + data["results"][rec]["links"][link]["link_translate"][1] + '</a> </li>');
						}


			  		}
			  	}
			  	else {
					$("#inlinks-results").append("<li>No links found.</li>");
			  	}
			}
		}

		var update_title = function(data) {
			document.getElementById('page_title').value = data['query']['random'][0]['title'];
			document.getElementById('page_title').parentNode.className = 'placeholder';
		}

		function queryInlinksAPI() {
			if (document.getElementById('lang').value && !document.getElementById('page_title').value) {
				var randomPageQueryURL = "https://" + document.getElementById('lang').value + ".wikipedia.org/w/api.php?action=query&format=json&list=random&rnlimit=1&rnnamespace=0&origin=*";
				$.ajax(randomPageQueryURL, {success: update_title.bind(this),
								error: function(jqxmlhr, status, error){console.log(status + ": " + error)},
								async: false
								}
					);
			}
			var queryUrl = "https://linkrec.toolforge.org/api/v1/in?lang=" + document.getElementById('lang').value+"&title=" + document.getElementById('page_title').value;
			$.ajax(queryUrl, {success: render_results.bind(this),
							  error: function(jqxmlhr, status, error){console.log(status + ": " + error)}
							  }
				  );
	    }

	</script>

</body>

</html>
